#container{
    margin: auto;
}
#citySelection{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn{
    padding: .5rem;
    margin: 10px 0px;
}
aside{
    width: 25%;
    margin: 10px;
    display: block;
    outline:0;

}
#currentWeather{
    /* margin: ; */
}