#container{
    margin: auto;
}
#citySelection{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn{
    padding: .5rem;
    margin: .3rem;
}